<!DOCTYPE html>
<html>
  <head>
    <title>TestMail</title>
    <%= csrf_meta_tags %>
	
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/extjs/resources/css/ext-all.css" />
    <script src="/extjs/adapter/ext/ext-base.js"></script>
    <script src="/extjs/ext-all-debug.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
